.border-bottom.pv-30.pv-20-mobile.ph-10-mobile
  span.f-16.em-500.pl-30.no-padding-mobile
    i.security-red.mrs.ti-alert
    span Bitcoin Network Notice
.modal-body
  p.mb-20
    | At the moment, Bitcoin is undergoing a network split. Because of this, we have&nbsp;
    b temporarily disabled spending, exchanging, buying, and selling.&nbsp;
    | Don't worry, all of your bitcoin is safe, and all of these features will be brought back online soon.
  button.button-primary.upper.full-width(ng-click="$close()") Sounds Good
